<div class="row" style="margin-top:10px;margin-bottom:10px;">
	<div class="col-md-12 col-sm-12">
	<img src="/img/banner.jpg" width="100%" style="margin-bottom:40px">
	</div>
    <div class="col-md-6 col-sm-6">
        <div class="dashboard-chart1">
        	<div class="margin-bottom-20" style="margin-left:150px">
	        <span class="service-heading" rel="tooltip" data-placement="right" title="" data-original-title="View More">
	        <font size="2" color="#333333">
	        MARKET CAP OF {{stats.cap}}</font></span>
	        <h4 style="margin-top:2px;">
	        <font color="#333333">
	        <font color="#333333">
	        {{stats.price}} @ {{stats.exchange}} FOD/BTC
	        <font color="#333333" size="2"> 
	        ({{stats.fluctuation}})</font></font></a></font></h4>
	        </div>
	       <div class="row margin-bottom-20">
		<div class="col-xs-6 service-in">
		<small>
		<font color="#333333">{{settings.i18n.get("Block Height")}}</font>
		</a>
		</small>
		<h4 style="color: #666666">
		<span id="ContentPlaceHolder1_Label1" style="font-size:Larger;">
		<font color="#333333">{{stats.blockHeight | number: 0 }}</font></a></span>
		</h4>
		</div>
		<div class="col-xs-6 text-right service-in">
		<small>
		<font color="#666666"><span class="hidden-su-xs">{{settings.i18n.get("Block Time")}}</span></font></small>
		<h4><font color="#333333">{{stats.blockTime | number: 2}} s</font></a>
		</span></h4>
		</div>
		</div>
		
		<div class="row">
		<div class="col-xs-6 service-in">
		<small>
		<font color="#333333">{{settings.i18n.get("Network Hashrate")}}</font>
		</a>
		</small>
		<h4 style="color: #666666">
		<span id="ContentPlaceHolder1_Label1" style="font-size:Larger;">
		<font color="#333333">{{stats.hashrate | totalDifficulty}}/s</font></a></span></h4>
		</div>
		<div class="col-xs-6 text-right service-in">
		<small>
		<font color="#666666"><span class="hidden-su-xs">{{settings.i18n.get("DIFFICULTY")}}</span></font></small>
		<h4><font color="#333333">{{stats.difficulty | totalDifficulty}}</font></a></h4>
		</div>
		</div>
        </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
        <div class="dashboard-chart2">
        <script type="text/javascript">
    $(function () {
    	$.post("/stats",{action: "transactions"},function(result){
    		result = JSON.parse(result)
	    var chart = Highcharts.chart('containerchart', {
            chart: {
                type: 'line',
                spacingBottom: 0,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: i18n.get('14 day Fodcreate Transaction History'),
                style: {
                    fontSize: '13px'
                }
            },
            xAxis: {
                title: { text: '' },
                categories: result.xtag
            },
            yAxis: {
                labels: {
                    enabled: true
                },
                title: {
                    text: null
                }
            },            
            tooltip: {
                formatter: function () {
                    return '<span style="font-size:10px">' + this.point.friendlydate + '</span><br><table><tr><td style="padding:0">' +
                           '<span style="color:' + this.series.color + '">Transactions: </a></span><b>' + this.point.y + '</b><br>'                             
                           '</td></tr></table>';
                }
            },
            plotOptions: {
                series: {
                    animation: {
                            duration: 0
                    },
                    point: {
                        events: {
                            select: function (e) {
                                location.href = 'txs?dt=' + this.options.dt;
                            }
                        }
                    }
                },
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Transactions',
                data: result.result,
                allowPointSelect: true,
            },
            ]
        });
    });
	  });	
    </script>
        	<div id="containerchart" style="min-width: 255px; height: 180px; margin: 12px auto">
        	</div>
        </div>
	</div>
</div>
